*{
    margin: 0;
    padding: 0;
}
html{
    width: auto;
}
body{
    background-color: rgba(34,34,34,255);
  color: white;
}
header{
    background: rgba(0,0,0,0.5)url(images/background.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    height: 800px;
}
#logo{
  width: 180px;
  height: 50px;
}
.head{
    display: flex;
    justify-content: space-between;
}
.head2{
    margin: 250px;
    text-align: center;

}
#btn2{
    background-color: red;
    width: 200px;
    height: 30px;
}
.sec2{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    display: flex;
    width: 100%;
    height: 500px;
    background-image: url(images/tv.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position:right;
}
.sec3{
    display: flex;
    background-color: black;
    width: 100%;
    height: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.para{
    margin-top: 100px;
    margin-left: 200px;
}
h2{
    font-size: 40px;
}
h5{
    font-size: 25px;
}
.para1{
    margin-top: 130px;
    margin-left: 100px;
}
.sec4{
    display: flex; 
    background-color: black;
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
}
.sec5{
    display: flex;
    background-color: black;
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
}
.sec6{
    background-color: black;
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
    text-align: center;  
}
.a2{
    display: block;
    border: 2px solid grey;
    margin: 2px;
    color: white;
    background-color: grey;
    width: 800px;
    height: 40px;
    text-decoration: none;
    font-size: 24px;
    margin-left: 280px;
    margin-top: 10px;
}
